/* 主页面容器 */
.pageWrapper {
  font-family: 'Inter', system-ui, sans-serif;
  background-image: linear-gradient(to bottom right, #F0F9FF, #E0E7FF);
  min-height: 100vh;
  position: relative; /* 为内部绝对定位的元素提供参照 */
  overflow: hidden; /* 防止装饰元素溢出 */
  display: flex;
  flex-direction: column;
  /* z-index: 2; */
}
.vantaBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* 主内容区 */
.mainContainer {
  position: relative; /* 确保内容在装饰元素之上 */
  z-index: 10;
  width: 1600px;
  margin: 0 auto;
  padding: 7rem 1rem 4rem; /* pt-28 pb-16 px-4 */
  flex-grow: 1;
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem; /* gap-8 */
  margin-bottom: 4rem; /* mb-16 */
}

.footerWrapper {
  z-index: 2;
}

@media (min-width: 768px) { /* md:grid-cols-3 */
  .contentGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* space-y-8 */
}

@media (min-width: 768px) { /* md:col-span-2 */
  .leftColumn {
    grid-column: span 2 / span 2;
  }
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* space-y-8 */
}

